.button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (max-width: 991px) {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .button-default {
        position: relative;
        font-family: 'Montserrat', 'Open Sans', Verdana, sans-serif;
        background-color: $primary;
        padding: 15px 60px;
        border: none;
        border-radius: 50px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        margin-right: 15px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -0.6px;

        &:last-of-type {
            margin-right: 0;
        }

        @media screen and (max-width: 991px) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}