/* *, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; } // required */
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	min-width: 300px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	height: auto;
	background: $primary;
	text-align: center;
	cursor: pointer;

    @media screen and (max-width: 1400px) {
        min-width: 260px;
    }

    @media screen and (max-width: 1200px) {
        min-width: 220px;
    }

	@media screen and (max-width: 991px) {
		min-width: 330px;
		max-width: initial;
		max-height: initial;
		margin: 0 auto;
		float: none;
		margin-bottom: 16px;
	}

    @media screen and (max-width: 767px) {
        min-width: 300px;
        width: 100%;
        margin: 0 auto;
        float: none;
        max-width: inherit;
        max-height: inherit;
        width: 100%;
        margin-bottom: 16px;
    }
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: $white;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*-----------------*/
/***** Goliath *****/
/*-----------------*/

figure.effect-goliath {
	background: $terciary;
}

figure.effect-goliath img,
figure.effect-goliath h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-goliath img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

    @media screen and (max-width: 767px) {
        -webkit-transform: translate3d(0,-75px,0);
        transform: translate3d(0,-75px,0);
    }
}

figure.effect-goliath h2,
figure.effect-goliath p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px 30px;

    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure.effect-goliath p {
	text-transform: none;
	font-size: 16px;
    line-height: 1.2;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
	font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;

    @media screen and (max-width: 767px) {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

figure.effect-goliath:hover img {
	-webkit-transform: translate3d(0,-75px,0);
	transform: translate3d(0,-75px,0);
}

figure.effect-goliath:hover h2 {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}