@font-face {
    font-family: 'maldina_scriptregular';
    src: url('../fonts/maldina-script-webfont.woff2') format('woff2'),
         url('../fonts/maldina-script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muli';
    src: url('../fonts/muli-webfont.woff2') format('woff2'),
         url('../fonts/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulibold';
    src: url('../fonts/muli-bold-webfont.woff2') format('woff2'),
         url('../fonts/muli-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliextralight';
    src: url('../fonts/muli-extralight-webfont.woff2') format('woff2'),
         url('../fonts/muli-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulilight';
    src: url('../fonts/muli-light-webfont.woff2') format('woff2'),
         url('../fonts/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulisemibold';
    src: url('../fonts/muli-semibold-webfont.woff2') format('woff2'),
         url('../fonts/muli-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "vendor/_variables.scss";
@import "vendor/_font-face.scss";
@import "vendor/bootstrap/bootstrap.scss";
@import "vendor/bootstrap/bootstrap-grid.scss";
@import "vendor/bootstrap/bootstrap-reboot.scss";
@import "vendor/bootstrap/bootstrap-utilities.scss";
@import "vendor/swiper/_swiper.scss";
@import "vendor/reset";

@import "_effect-blog.scss";
@import "_effect-service.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_main.scss";
@import "_chat.scss";
@import "_single.scss";
@import "_button.scss";

body {
	background: $white;

    .img-fixed {
        position: fixed;
        top: 34px;
        right: 16px;
        width: 110px;
        opacity: 0.7;

        @media screen and (max-width: 991px) {
            right:8px;
            top: 100px;
            width: 60px;
        }
    
        @media screen and (max-width: 540px) {
            display: none;
        }
    }

    .section {
        padding: 50px 0 !important;

        @media screen and (max-width: 767px) {
            padding: 20px 0 !important;
        }
    }
}

.ask {
    width: 150px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    border-radius: 12px;
    background-color: $primary;
    -webkit-box-shadow: 0px 0px 26px 0px rgba(25,43,57,0.5);
    -moz-box-shadow: 0px 0px 26px 0px rgba(25,43,57,0.5);
    box-shadow: 0px 0px 26px 0px rgba(25,43,57,0.5);
    
    a {
        width: 100%;
        color: $white;
        font-size: 18px;
        line-height: 1.3;
        padding: 16px 32px;
        text-align: center;
        display: block;
        text-decoration: none;
    }
}

.desktop {
	display: block;

	@media screen and (max-width: 991px) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: 991px) {
		display: block;
	}
}

@media screen and (max-width: 991px) {
	.mob-mb-15 {
		margin-bottom: 15px;
	}
	.mob-mb-30 {
		margin-bottom: 30px;
	}
	.mob-mb-45 {
		margin-bottom: 45px;
	}
}